name: 'Test composite actions'

on:
  workflow_call:
    secrets:
      SEMGREP_PUBLISH_TOKEN:
        description: Semgrep token
        required: true

jobs:
  lint:
    name: 'Linting job.'
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout repository'
        uses: actions/checkout@v3
      - name: lint
        uses: ./.github/actions/lint

  compliance-copyrights:
    name: 'Compliance copyrights'
    runs-on: ubuntu-latest
    outputs:
        proceed: ${{ steps.proceed.outputs.proceed }}
    steps:
      - name: 'Checkout repository'
        uses: actions/checkout@v3
      - name: copyrights
        uses: ./.github/actions/compliance-copyrights
      - name: proceed
        id: proceed
        shell: bash
        run: echo "proceed=Yes" >> "$GITHUB_OUTPUT"


  semgrep:
    name: semgrep
    needs:
      - compliance-copyrights
    if: ${{ needs.compliance-copyrights.outputs.proceed == 'Yes' }}
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout repository'
        uses: actions/checkout@v3
      - name: 'Run semgrep'
        uses: ./.github/actions/semgrep
        with:
          token: ${{ secrets.SEMGREP_PUBLISH_TOKEN }}